<h1 class="text-lg font-bold text-gray-800">Light FSM</h1>

<Fsm.playground image={~p"/images/fsm/light-auto-off.svg"}>
  <:animation>
    <Light.playground state={@state} />
  </:animation>
  <:infos>
    <Fsm.info label="pid:" value={inspect(@pid)} />
    <Fsm.info label="state:" value={@state} />
  </:infos>
</Fsm.playground>
